/* $font-os: 'Open Sans', sans-serif;
$font-ro: 'Russo One', sans-serif;
$font-main-color: #2194FF; */
/* ========================================= */



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background: #222;
    height: 100%;
    width: 100%;
}

.font-ro {
    font-family: 'Russo One';
}

.font-os {
    font-family: 'Open Sans';
}

.flex {
    display: flex;
}

.total-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}



/* =============================================== */



.header {
    align-items: center;
    display: fixed;
    justify-content: space-between;
    padding: 2vw 5vw;
}

#header-logo {
    align-items: center;
}

#header-logo p {
    border-left: 1px solid #fff;
    color: #2194FF;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    margin-left: 25px;
    margin-top: 20px;
    max-width: 150px;
    padding-left: 20px;
}

#header-phone a {
    color: #F1F1F1;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 5px;
    text-decoration: none;
}

#header-phone button {
    background: transparent;
    border: 0;
    color: #2194FF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-decoration-line: underline;
}



/* =========================================== */



#main-info {
    padding: 2vw 0 2vw 5vw;
}

.weather-item + .weather-item {
    margin-left: 1vw;
}

.weather-img + .weather-img {
    margin-left: 0.5vw;
}

.weather-item p {
    color: #F1F1F1;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}



.main-item h1 {
    color: #2194FF;
    font-size: 64px;
    font-weight: 400;
    line-height: 63px;
    margin: 1vw 0;
}

#main-item-moscow {
    color: #F1F1F1;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 3vw;
}

#main-item-delivery {
    color: #F1F1F1;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 1vw;
}



/* ============================================================== */


section {
    padding: 2vw 5vw;
}


.big-button {
    background: #2194FF;
    border: none;
    border-radius: 11px;
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.45);
    color: #F1F1F1;
    cursor: pointer;
    font-family: 'Russo One';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding: 1vw 2vw;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    max-width: 350px;
}

.big-button:hover {
    background: #3fa2ff;
}

.small-button {
    background: #2194FF;
    border: none;
    border-radius: 50px;
    color: #F1F1F1;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    padding: 0.5vw 2vw;
}

.small-button:hover {
    background: #3fa2ff;
}




h2 {
    font-family: 'Russo One';
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
}



/* ============================================================== */



#cost-info {
    background: rgba(33, 148, 255, 0.05);
}

#cost-info h2 {
    color: #2194FF;
    margin-bottom: 1vw;
}



.cost-info-item{
    align-items: center;
    width: 33%;
}

.cost-info-item h3 {
    color: #F1F1F1;
    font-family: 'Russo One';
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
}

.cost-info-item span {
    color: #2194FF;
    font-family: 'Russo One';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
}

.cost-info-item p {
    color: #F1F1F1;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin: 1vw 0 2vw 0;
    max-width: 250px;
}




/* ================================================================= */



.cost-info-item img {
    margin-top: 1vw;
    max-width: 530px;
}

#cost-info-perc-p {
    color: #F1F1F1;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 1vw 0;
    opacity: 0.7;
    text-align: center;
}

.cost-persent-item {
    padding: 0 1vw;
}

#cost-percent-line {
    border-right: 1px solid rgba(241, 241, 241, 0.7);
}

#cost-info-percent .cost-percent {
    color: rgba(241, 241, 241, 0.7);
    /* font-family: 'Russo One'; */
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
}

#cost-info-percent .cost-gas {
    color: rgba(241, 241, 241, 0.7);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}



/* ================================================================= */



#advantages-items{
    flex-wrap: wrap;
    justify-content: center;
}

#advantages-info h2 {
    color: #F1F1F1;
    margin-bottom: 2vw;
}

.advantages-item {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 350px;
}

/* .advantages-item img {
    max-width: 120px;
} */

.advantages-name {
    color: #2194FF;
    font-family: 'Russo One';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
}

.advantages-text {
    color: #F1F1F1;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
}


/* =============================================== */



#advantages-comment {
    justify-content: center;
    margin-top: 2vw;
}

.advantages-comment-item {
    width: 40%;
}

#advantages-comment-text{
    color: #F1F1F1;
    font-size: 35px;
    font-weight: 400;
    line-height: 42px;
}

#advantages-comment-text span {
    color: #2194FF;
}

#advantages-comment-mark p {
    background: #2194FF;
    color: #F1F1F1;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    margin-top: 1vw;
    padding: 0.5vw;
}

.advantages-comment-item + .advantages-comment-item {
    margin-left: 1vw;
}



/* ============================================================ */


#volume-info {
    background: rgba(33, 148, 255, 0.05);
}

#volume-info h2{
    color: #2194FF;
}



#volume-buttons {
    margin: 2vw 0;
}


#volume-slyder {
    border: none;
    overflow: hidden;
    width: 800px;
}

#volume-navigation {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.volume-bar {
    background: rgba(241, 241, 241, 0.2);
    border-radius: 20px;
    color: #F1F1F1;
	cursor: pointer;
    font-family: 'Russo One';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 1vw;
    padding: 10px 2vw;
    text-align: center;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    width: 200px;
}

.volume-bar:hover {
    background: #2194FF;
    transform:scale(1.05);
}

input[name="volume"] {
    position: absolute;
    visibility: hidden;
}

#volume-slyder-buttons {
    width: 400%;
    height: 100%;
    display: flex;
}

.volume-slyde {
    width: 25%;
    transition: all 0.6s ease;
}
.volume-slyde {
    margin-top: 10vw;
}
#volume-button-1:checked ~ #vol-slyde-1 {
    margin-left: 0;
}
#volume-button-2:checked ~ #vol-slyde-1 {
    margin-left: -25%;
}
#volume-button-3:checked ~ #vol-slyde-1 {
    margin-left: -50%;
}
#volume-button-4:checked ~ #vol-slyde-1 {
    margin-left: -75%;
}


/* ================================================================= */


#feedback-info h2 {
    color: #F1F1F1;
} 